.mynav {
  
}

.navbar {
    background: #f2af58 !important;
}

.navbar .navbar-brand {
    color: white !important;
}

.navbar .nav-link {
    color: white !important;
}

 #sidebar {
    width: 150px !important;
    height: 100% !important;
    background: rgb(107, 97, 97) !important;
    color: white !important;
    position: absolute !important;
}
ul ul {
   padding: 10px !important;
   border-bottom: 1px solid grey !important;
}

ul ul:hover {
    background:bisque !important;
    color: orange !important;
}

#page-content {
    margin-left: 170px;
    position: absolute;
    
}

.mr-3 {
    margin-top: 20px;
    wdith: 200px;
    height: 200px;  
}


p a {
    color: blue;
  }


a {
    color: white;
}

a:hover {
    color:orange;
}

.form_error {
    color: red;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    line-height: 20px;
}

.footer .navbar {
    position: absolute;
    bottom: 0;
    width: 100vw;
}