.navbar {
   background:  rgb(107, 97, 97) !important;
}

.navbar .navbar-brand {
    color: white !important;
}

.navbar .nav-link {
    color: white !important;
}


#sidebar .nav-link {
    color: white !important;
}

 #sidebar {
    z-index: 1 !important;
    width: 150px !important;
    height: 100vw !important;
    background: rgb(107, 97, 97) !important;
    color: white !important;
    position: absolute !important;
}


#page-content {
    margin-left: 170px;
    position: absolute;
}


p a {
    color: blue;
  }

.form_error {
    color: red;
}


.business{
    background-color: #e5e5e5;
    overflow: hidden;
    border-bottom: 1px solid #555;
    }

.business img {
    max-height: 300px;
    max-width: 300px;
    float: left;
    clear: left;
}

.business-info {
    float: left;
    clear: right;
}

.business a {
    color: #f2af58;
    text-decoration: none;
}


#add_business img{
    float: left;
    clear: left;
    padding-bottom: 50px;
}


#add_business a {
    color: transparent;
    }

.footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    margin-left: 150px;
}

.footer .navbar {
    color: #f2af58 !important;
    background:  rgb(107, 97, 97) !important;
    position: absolute;
    bottom: 0;
    width: 100vw;
}