{% extends 'finder/sidebar_base.html' %}
{% load staticfiles %}

{% block title_block %}
<style>
  a:link {
    color: blue;
  }

  a:active {
    color: blue;
  }
</style>
Settings
{% endblock %}

{% block body_block %}
    <div class="title"><h1>My Account</h1></div>
    <div>
      <p>To change username and password detials visit the settings page <a href = "{% url 'finder:settings' %}"> here</a></p>
      <p>To update your businesses details visit myBusinesses and select the business you want to make changes to <a href = "{% url 'finder:myBusinesses' %}"> here</a></p>
      <p>For all of your business needs you can find our contact information by seleting Support<a href = "{% url 'finder:support' %}"> here</a></p>
    </div>
{% endblock %}