{% extends 'finder/sidebar_base.html' %}
{% load staticfiles %}

{% block title_block %}
Add Business
{% endblock %}

{% block body_block %}
<div class="title"><h1>Create a new Business</h1></div>
<div>
    <form method="post" action="{% url 'finder:addBusiness' %}"
          enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}

            {% for field in new_business_form %}

            <p>{{ field.label_tag }} {{ field }}
                {% if field.errors %}
                {% for error in field.errors %}
            <div class="form_error">
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-primary" name="submit_form">Save</button>
        </div>
    </form>
</div>
{% endblock %}