{% extends 'finder/sidebar_base.html' %}
{% load staticfiles %}

{% block title_block %}
Settings
{% endblock %}

{% block body_block %}
    {% if business %}
    <div class="title"><h1>Settings</h1></div>
    <div>
      <form method="post", action="{% url 'finder:adminPanel' business.slug %}" enctype="multipart/form-data">
        <div class="form-group">
          {% csrf_token %}
          {{ business_form.as_p}}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>

{% if current_offer %}
    <p>You have an offer running for this business. Click below to remove the reservation for all users and delete the offer.</p>
    <form class="form-inline"
            id="reserve"
            method="post"
            action="{% url 'finder:adminPanel' business.slug %}"
            >

            {% csrf_token %}

            <button class="btn btn-primary"
                type="submit"
                id="end_offer_id"
                name="end_offer_id"
                value="{{ current_offer.id }}">End this offer</button>
    </form>
{% else %}
    <p>You have no offer running at the moment. Do you want to add one?</p>
    <a class="btn btn-primary" href="{% url 'finder:add_offer' business.slug %}" role="button" target="_blank">Add an offer</a>
{% endif %}
{% endif %}

{% endblock %}