{% extends 'finder/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Find Food
{% endblock %}

{% block body_block %}

{% if businesses %}
    {% for b in businesses %} 
    <a href='/finder/find_food/{{ b.slug }}'/><strong>{{ b.businessName }}</strong> <br />
        <img src="{{ b.picture.url }}" alt="Picture of Business"/><br />
        {{ b.address }} <br />
        Offers Until {{ b.offersUntil }} <br />
    {% endfor %}
{% else %}
    <li><strong>There are no businesses to display.</strong></li>
{% endif %}

{% endblock %}



