{% extends 'finder/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Find Food
{% endblock %}

{% block body_block %}

<div class="search-bar">
    <form class="form-inline"
          id="user-form"
          method="post"
          action="{% url 'finder:find_food' %}">

        {% csrf_token %}

        <div class="form-group">

            <input class="form-control"
                   type="text"
                   size="50"
                   name="query"
                   id="query"
                   placeholder="Enter your postcode!"
                   autofocus
                   required
            />
        </div>

<!--        select the search radius-->
<!--            https://www.w3schools.com/tags/tag_select.asp-->
        <div class="form-group">
            <select class="form-control" id="radius" name="radius">
<!--                https://stackoverflow.com/questions/22822427/bootstrap-select-dropdown-list-placeholder-->
<!--                10 is the default-->
                <option value="10" selected>Default search radius</option>
                <option value="1">1km</option>
                <option value="5">5km</option>
                <option value="10">10km</option>
                <option value="25">25km</option>
                <option value="50">50km</option>
            </select>
  </div>


        <button class="btn btn-primary"
                type="submit"
                name="submit">Search
        </button>
    </form>

</div>

<div class="search_error">
    {% if invalid %}
    <p>That didn't work. Please enter a valid UK postcode.</p>
    {% endif %}
</div>


<div class="featured-offers">
    {% if offers %}
    {% if no_results %}
    <div class="search_error"><p>There are currently no offers in your area. Please try again later, or have a look at our featured offers:</p></div>
    <h2>Featured Offers</h2>
    {% else %}
    <h2>Search Results</h2>
    {% endif %}
    {% for offer in offers %}
    <div class="offer">
        <a href="{% url 'finder:show_business' offer.business.slug %}"><img src="{{ offer.business.picture.url }}"/></a>
        <div class="offer-info">
            <h3><a href="{% url 'finder:show_business' offer.business.slug %}">{{ offer.business.businessName }}</a></h3>
            Keywords: {{ offer.business.tags }}<br/>
            {{ offer.business.address }}<br/>
            {{ offer.portionAmount }} portions available now!
            Offers until: {{ offer.business.offersUntil }}
        </div>
    </div>
    {% endfor %}

    {% endif %}

</div>
{% endblock %}



