{% extends 'finder/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div><h1>Free Food Finder</h1></div>


<div>
<form class="form-inline"
      id="user-form"
      method="post"
      action="{% url 'finder:home' %}">

    {% csrf_token %}

    <div class="form-group">

        <input class="form-control"
               type="text"
               size="50"
               name="query"
               id="query"
               placeholder="Enter your postcode!"
               autofocus
                />
    </div>

    <button class="btn btn-primary"
            type="submit"
            name="submit">Search</button>
</form>

        <p>Free food finder connects restaurants with surplus food with the people who need it. Enter your postcode above to secure a free meal in your area!</p>

 </div>

{% if featured_offers %}
    <h2>Featured Offers</h2>
    {% for offer in featured_offers %}
        <!-- add info -->
        {{ offer.business.businessName }}</br>
        <img src="{{ offer.business.picture.url }}"/>
    {% endfor %}
{% endif %}
{% endblock %}