{% extends 'finder/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="title"><a href="{% url 'finder:home' %}"><img src="{% static 'images/logo.png' %}" alt="Free Food Finder"></a>
    <h1><a href="{% url 'finder:home' %}">Free Food Finder</a></h1>
</div>



<div class="search-bar">
    <form class="form-inline"
          id="user-form"
          method="post"
          action="{% url 'finder:home' %}">

        {% csrf_token %}

        <div class="form-group">
            <input class="form-control"
                   type="text"
                   size="50"
                   name="query"
                   id="query"
                   placeholder="Enter your postcode!"
                   autofocus
                   required
            />
        </div>

        <button class="btn btn-primary"
                type="submit"
                name="submit">Search
        </button>
    </form>
</div>

<div class="search_error">
    {% if invalid %}
    <p>That didn't work. Please enter a valid UK postcode.</p>
    {% endif %}
</div>


<div id="description">
    <p>Free food finder connects restaurants with surplus food with the people who need it. Enter your postcode above to
        secure a free meal in your area!</p>
</div>


<div class="featured-offers">
    {% if featured_offers %}
    <h2>Featured Offers</h2>
    {% for offer in featured_offers %}
    <div class="offer">
        <a href="{% url 'finder:show_business' offer.business.slug %}"><img src="{{ offer.business.picture.url }}"/></a>
        <div class="offer-info">
            <h3><a href="{% url 'finder:show_business' offer.business.slug %}">{{ offer.business.businessName }}</a></h3>
            Keywords: {{ offer.business.tags }}</br>
            {{ offer.business.address }}</br>
            {{ offer.portionAmount }} portions available now!
            Offers until: {{ offer.business.offersUntil }}


            {% if user.is_authenticated %}
            <form class="form-inline"
            id="reserve"
            method="post"
            action="{% url 'finder:reserve' %}">

            {% csrf_token %}

            <button class="btn btn-primary"
                type="submit"
                id="reserve_meal"
                name="reserve_meal"
                value="{{ offer.id }}">Grab one</button>
            </form>

<!--            if the user is not logged in the button should still appear but they are redirected to the login page-->
            {% else %}
            <br/>
            <a class="btn btn-primary" href="{% url 'finder:user_login' %}" role="button">Grab one</a>
            {% endif %}

        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}