{% extends 'finder/base.html' %}
{% load staticfiles %}



{% block title_block %}
    {% if business %}
        {{ business.businessName }}
    {% else %}
        Unknown Business
    {% endif %}
{% endblock %}

{% block body_block %}


    {% if business %}
        <h1>{{ business.businessName }}</h1><br />
    
        <img src='/media/businesses/{{ business.picture }}'/>{{ business.picture }} <br />
        {{ business.description }} <br />
        {{ business.address }} <br />
        Working Hours: {{ business.workingTime}} <br />
        Offers Until {{ business.offersUntil }} <br />
       
<strong><a href='/finder/find_food/'/> Return to Find Food </strong>

    {% else %}
    The specified business does not exist
    {% endif %}
{% endblock %}