{% extends 'finder/base.html' %}
{% load staticfiles %}


{% block title_block %}
    {% if business %}
        {{ business.businessName }}
    {% else %}
        Unknown Business
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if business %}
        <h1 class="title">{{ business.businessName }}</h1><br/>

<!--https://www.w3schools.com/howto/howto_css_images_side_by_side.asp-->

        <div class="image-row">
            <img  src='{{ business.picture.url }}' alt="{{ business.businessName }}"/>

<!--https://developers.google.com/maps/documentation/embed/guide-->
            <iframe
                    width="60%"
              frameborder="0" style="border:0"
               src="https://www.google.com/maps/embed/v1/search?key={{ key }}&q={{ business.lat }},{{ business.long }}" allowfullscreen>
           </iframe>
        </div>

        <div class="business-descr">
            <p>
        {{ business.address }} <br />
        Working Hours: {{ business.workingTime}} <br/>
                Offers until: {{ business.offersUntil }}<br/><br/>
            {{ business.description }}
            <br/><br/>

        </p>
           {% if offer %}
                Currently {{ offer.portionAmount }} offers!
               <form class="form-inline"
                     id="reserve"
                    method="post"
                    action="{% url 'finder:reserve' %}">

                {% csrf_token %}

                   <button class="btn btn-primary"
                    type="submit"
                    id="reserve_meal"
                    name="reserve_meal"
                    value="{{ offer.id }}">Grab one</button>
                </form>
            {% else %}
                There are currently no offers available.
            {% endif %}
        </div>


    {% else %}
    The specified business does not exist
    {% endif %}

{% endblock %}