{% extends 'finder/sidebar_base.html' %}
{% load staticfiles %}

{% block title_block %}
My Businesses
{% endblock %}

{% block body_block %}
    <div class="title"><h1>My Businesses</h1></div>
    <div>
      <ul class="list-unstyled">
        <li class="media">
          <a href = "{% url 'finder:adminPanel' %}">
            <img src="{% static 'images/italian.jpg' %}" class="mr-3" alt="Antonio's Italian"></a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Antonio's</h5>
              Restraunt 1 description
          </div>
        </li>
        <li class="media my-4">
          <a href = "{% url 'finder:adminPanel' %}">
            <img src="{% static 'images/asian.jpg' %}" class="mr-3" alt="Asian Palace"></a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Asian Palace</h5>
            Restraunt 2 Description
          </div>
        </li>
        <li class="media">
          <a href = "{% url 'finder:adminPanel' %}">
            <img src="{% static 'images/cafe.jpg' %}" class="mr-3" alt="Rumble cafe"></a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Rumble Cafe</h5>
            Restraunt 3 description
          </div>
        </li>
    </ul
{% endblock %}