{% extends 'finder/sidebar_base.html' %}
{% load staticfiles %}

{% block title_block %}
My Businesses
{% endblock %}

{% block body_block %}
    <div class="all_businesses">
      {% if all_businesses %}
      <h1>My Businesses</h1></div>
      {% for business in all_businesses %}
      <div class = "business">
        <a href="#"><img src="{{ business.business.picture.url }}"/></a>
        <div class="business-info">
          <h3>{{ business.business.businessName }}</h3>
          {{ business.business.description }}
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

{% endblock %}