{% extends 'finder/base.html' %}
{% load staticfiles %}

{% block body_block %}
{% if reserved_business %}
    <h1 class="title">Sucess!</h1>
    <p>Thank you for your reservation! Please pick up your meal at {{ reserved_business }}, {{ reserved_business.address }} before {{reserved_business.offersUntil }} . </p>
{% else %}
   <h1 class="title">Something went wrong</h1>
    <p>You cannot reserve this meal. Please ensure that you are logged in as a client (not a business owner) and that you have no outstanding reservations.</p>
{% endif %}
{% endblock %}