{% extends 'finder/sidebar_base.html' %}
{% load staticfiles %}

{% block title_block %}
Settings
{% endblock %}

{% block body_block %}
    <div class="title"><h1>Settings</h1></div>
    <div>
        <p>
          To change your email or Password you must fill in both fields.
        If you want to change your password only enter your existing email address.
        </p>
        <form method ="post">
          {% csrf_token %}
           {{ email_form.as_p }}

           {% for field in password_form %}
               <p>
                   {% for error in field.errors %}
                    <div class="form_error">
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                {{ field.label_tag }} {{ field }}</p>
            {% endfor %}
            
        <button type="submit" class="btn btn-primary" name="submit_form">Save changes</button>
        </form>
    </div>
{% endblock %}