{% extends 'finder/sidebar_base.html' %}
{% load staticfiles %}

{% block title_block %}
Settings
{% endblock %}

{% block body_block %}
    <div class="title"><h1>Settings</h1></div>
    <div>
        <p>
          To change your email or Password you must fill in both fields.
        If you want to change your password only enter your existing email address.
        </p>
        <form method ="post">
          {% csrf_token %}
          {{ settings_form.as_p }}
          <button type="submit">Save Changes</button>  </button>
        </form>
    </div>
    <img src="{% static 'images/logo.png' %}" alt="Free Food Finder"></a>
{% endblock %}