{% extends 'finder/base.html' %}
{% load staticfiles %}

{% block title_block %}
Sign Up
{% endblock %}

{% block body_block %}

<div class="title"><a href="{% url 'finder:home' %}"><img src="{% static 'images/logo.png' %}"
            alt="Free Food Finder"></a>
</div>

{% if registered %}
<h1>Thank you for registering.
    Log in <a href="{% url 'finder:user_login' %}">here.</a>
</h1>
{% else %}
<h1>Register here:</h1>
        
{% if user_form.errors or user_form.non_field_errors %}
{% for field in user_form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in user_form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<div class="container login-container">
    <div class="row">

        <div class="col-md-6 login-form-1">
            <div class="text-center">
                <h3>Business Sign Up</h3>
                <form id="user_form_business" method="post" action="{% url 'finder:sign-up' %}"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                </form>
            </div>
        </div>

        <div class="col-md-6 login-form-2">
            <div class="text-center">
                <h3>Client Sign Up</h3>
                <form id="user_form_client" method="post" action="{% url 'finder:sign-up' %}"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                </form>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center" id="butRow">
        <div class="col-md-4 text-center">
            <input id="submitBut" class="btn btn-primary" type="submit" name="submit" value="Sign Up" />
            <p>By signing up you agree to our <a href="#">terms of service</a></p>
        </div>
    </div>
</div>
{% endif %}
<link type="text/css" rel="stylesheet" href="{% static 'css/signUpStyle.css' %}">

{% endblock %}