{% extends 'finder/base.html' %}
{% load staticfiles %}

{% block title_block %}
About Us
{% endblock %}

{% block body_block %}
    <h1>About Free Food Finder</h1>
    <div>
        <p>
We give restaurant and food industry owners the ability to advertise all surplus food they have at the end of the working day and offer it for free customers at selected times.
Restaurant owners can create an account and provide a description of what type of food they are giving away and also location and collection times.
Users can create an account and reserve a meal.
        </p>
    </div>
{% endblock %}